<!DOCTYPE html>
<html>
<head>
    <title>Nam Aybsu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Monofett" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julee" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kirang+Haerang" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
    body,html{
    margin: 0px;
    padding: 0px;
   height: 100%;
    width: 100%;
    }
    body{
        background-color: black;
       
    }
    audio{
        width: 500px;
        height: 200;
    }
    .container{
        text-align: center;
        text-transform: capitalize;
    }
    h2{
        color: white;
        size: 20px;
        padding-bottom: 100px;
        font-family: 'Julee';
        font-size: 35px;
    }
    .but{
        position: absolute;
        left: 25%;
        top: 46%;
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="but">
            <h2 >listen to the song to get the hint</h2>
        <audio controls autoplay>
            <source src="/audios/harshitha.mp3" type="audio/mpeg"> 
        </audio>
    </div>
    </div>
</body>
</html>